/*
* @Authors: Lexx http://google.com/+LxxYungCarter
*
* the blue : #00BFFF
* client blue : #98ACBC rgb(152,172,188)
*/

/*
====================================================
    FONT IMPORTS
===================================================
*/

@font-face {
    font-family: "Prata";
    src: url('../../../fonts/Prata-Regular.ttf');
}

@font-face {
    font-family: "raleway";
    src: url('../../../fonts/raleway.regular.ttf');
}


/* latin-ext */

@font-face {
    font-family: 'Sintony';
    font-style: normal;
    font-weight: 400;
    src: local('Sintony'), url(https://fonts.gstatic.com/s/sintony/v4/NSpavdvike7xipHfiByCrPY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Sintony';
    font-style: normal;
    font-weight: 400;
    src: local('Sintony'), url(https://fonts.gstatic.com/s/sintony/v4/CxEtQ1VGsZ4sZv6p3ztOzw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


.has-background-img {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: inherit;
    height: inherit;
}
.marginTop100 {
    margin-top: 100px;
}

.marginTop-100 {
    margin-top: -100px;
}

.marginTopBottom20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-prata {
    font-family: 'Prata' !important;
}

.text-raleway {
    font-family: 'raleway' !important;
}

.text-sans {
    font-family: sans-serif !important;
}

.text-uppercase {
    text-transform: uppercase;
}
.paddingLeftRight20 {
    padding-left: 20px;
    padding-right: 20px;
}

.paddingTopBottom20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding20 {
    padding: 20px;
}

.padding5 {
    padding: 5px;
}
.marginTop70 {
    margin-top: 70px;
}

.marginTop50 {
    margin-top: 50px;
}

.marginTop20 {
    margin-top: 20px;
}
.has-overlay {
    width: 100%;
    height: 100%;
    position: relative;
}

.has-overlay .overlay {
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.font-80 {
    font-size: 80px;
}

.font-50 {
    font-size: 50px;
}

.font-30 {
    font-size: 30px;
}

.font18 {
    font-size: 18px;
}

.font14 {
    font-size: 14px;
}

.font20 {
    font-size: 20px;
}
.font25 {
    font-size: 25px;
}

.font-1em {
    font-size: 1em;
}
.wiggle {
    box-shadow: 0 0 1px transparent;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    animation-name: wiggle;
    -o-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -moz-animation-name: wiggle;
    -webkit-animation-name: wiggle;
    animation-duration: 5s;
    -o-animation-duration: 5s;
    -ms-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-play-state: running;
    -o-animation-play-state: running;
    -ms-animation-play-state: running;
    -moz-animation-play-state: running;
    -webkit-animation-play-state: running;
}

@keyframes wiggle {
    2% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    4% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    6% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    8% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    10% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    12% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    14% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    16% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    18% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }
    20% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}
.g-icon-holder {
    font-size: 46px;
    line-height: 90px;
    height: 110px;
    width: 110px;
    box-shadow: 0 0 0 2px #2196f3 inset;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
    background-color: transparent !important;
    border: 1px solid transparent;
}

.g-icon-holder i {
    color: #2196f3 !important;
}
.selectize-input.full {
    background-color: transparent !important;
}

#orderForm input.inputfile {}

#valid-msg {
    color: #13a813 !important;
}

#error-msg {
    color: #f84d4d !important;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}
.nice-blue {
    background-color: #2196f3;
}

.whys-accordion .panel-default,
.whys-accordion .panel-title>a,
.whys-accordion .panel-heading {
    background-color: transparent !important;
    background: transparent !important;
    color: #fff;
}

.whys-accordion .panel-body {
    border-top: 0 !important;
}

.has-background-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.text-bold {
    font-weight: 700;
}

/* 
    Homepage Wizard Form
*/
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

/* written by riliwan balogun http://www.facebook.com/riliwan.rabo*/

.board {
    width: 75%;
    margin: 60px auto;
    height: 500px;
    /* background: #fff; */
    /*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}

.board .nav-tabs {
    position: relative;
    /* border-bottom: 0; */
    /* width: 80%; */
    margin: 40px auto;
    margin-bottom: 0;
    box-sizing: border-box;
}

.board>div.board-inner {
    /* background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png); */
    background-size: 30%;
}

p.narrow {
    width: 60%;
    margin: 10px auto;
}

.liner {
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tabs.one {
    color: rgb(34, 194, 34);
    border: 2px solid rgb(34, 194, 34);
}

li.active span.round-tabs.one {
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}

span.round-tabs.two {
    color: #febe29;
    border: 2px solid #febe29;
}

li.active span.round-tabs.two {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
}

span.round-tabs.three {
    color: #3e5e9a;
    border: 2px solid #3e5e9a;
}

li.active span.round-tabs.three {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}

span.round-tabs.four {
    color: #f1685e;
    border: 2px solid #f1685e;
}

li.active span.round-tabs.four {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

span.round-tabs.five {
    color: #999;
    border: 2px solid #999;
}

li.active span.round-tabs.five {
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}

.nav-tabs>li.active>a span.round-tabs {
    background: #fafafa;
}

.nav-tabs>li {
    width: 20%;
}


/*li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}*/

li:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition: 0.1s ease-in-out;
}

li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ddd;
}

.nav-tabs>li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.nav-tabs>li a:hover {
    background: transparent;
}

.tab-content {}

.tab-pane {
    position: relative;
    padding-top: 50px;
}

.tab-content .head {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.btn-outline-rounded {
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green {
    background-color: #5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}

@media( max-width: 585px) {
    .board {
        width: 90%;
        height: auto !important;
    }
    span.round-tabs {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .tab-content .head {
        font-size: 20px;
    }
    .nav-tabs>li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
    .btn-outline-rounded {
        padding: 12px 20px;
    }
}

/* 
    Banner Section
*/
.banner .intro {
    padding: 20px;
}
.banner .intro h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 0.8em;
    text-align: left;
}
.banner .intro h4 {
    font-family: 'raleway', sans-serif;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 0.8em;
    text-align: left;
    color: #ddd;
}
.banner .intro p {
    color: #fff;
    text-align: left;
    font-size: 22px;
    font-family: 'raleway', 'prata', sans-serif;
}
/* 
    Home Order Form
*/
.home-order-form {
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    margin-bottom: 30px;
}
.home-order-form .price {
    font-size: 3.2em;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
}
.home-order-form .submit {
    background-color: #2196f3;
    border: 1px solid #2196f3;
    color: #fff;
    padding: 15px 25px;
    width: 75%;
    border-radius: 30px;
    outline: none;
    font-size: 20px;
}
.home-order-form .submit:hover {
    background-color: transparent;
    /* border: 1px solid #2196f3; */
    color: #2196f3;
    outline: none;
}
.breath,
.breath:hover {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

/* 
    Slanted Angle
*/
.slanted {
    background: #00CBFF;
    color: #fff;
    position: relative;
    z-index: 1;
}

.slanted:after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-2.5deg);
    transform-origin: 100%;
    z-index: -1;
}

.slanted-double {
    background: #00CBFF;
    color: #fff;
    position: relative;
    z-index: 1;
}

.slanted-double:after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-3.5deg);
    transform-origin: 100%;
    z-index: -1;
}
.slanted-double:before {
    background: inherit;
    top: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-3.5deg);
    transform-origin: 0%;
    z-index: -1;
}

/* 
    Testimonials widget
*/
#testimonials-owl-widget .customer-review,
#testimonials-owl-widget .order-topic {
    color: #fff;
}
#testimonials-owl-widget .order-typeofwork {
    color: #ddd;
}
/* 
    Recurring Section
*/
.recurring-section {
    padding: 30px 0;
}
.recurring-section h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: #ddd;
    padding: 30px;
    font-family: 'raleway', sans-serif;
}
.recurring-section h1 {
    font-size: 42px;
    color: #fff;
    margin-bottom: 30px;
}
.recurring-section .order-footer-btn {
    color: #fff;
    background-color: #00CBFF;
    border: 2px solid #00CBFF;
    padding: 17px 25px;
    font-size: 20px;
    width: 50%;
    border-radius: 30px;
}
.order-footer-btn:hover {
    color: #00CBFF;
    background-color: transparent;
}

.text-border-bottom-yellow {
    border-bottom: 2px solid #FEBE29;
}
.text-border-bottom-white {
    border-bottom: 2px solid #fff;
}
.text-divider-white {
    background: #fff;
    width: 50%;
    height: 2px;
    margin: 10px auto;
}
.text-blue {
    color:#00CBFF
}
.header-btn {
    background: transparent;
    border: 1px solid #fff;
    padding: 10px;
    text-align: center;
    color: #fff;
}
.header-btn.login {
    border: 0px solid #fff;
    border-bottom: 2px solid #00CBFF;
    padding: 10px;
    text-align: center;
    color: #fff;
}
.header-btn:hover {
    background: #fff;
    color: #555555;
}
.social-w3licon {
    width: 60%;
}