/*
Template Name: backend-common-styles
Description: Ace Paperstrap
Author: Lexx YungCarter
Author URI: http://github.com/lexxyungcarter

Version: 1.0

*/
.text-white {
	color: #fff !important;
}
.padding2 {
	padding: 1px;
}
.padding5 {
	padding: 5px;
}
.padding10 {
	padding: 10px;
}
.padding20 {
	padding: 20px;
}
.btn-full {
  width: 100% !important;
}
.btn-half {
  width: 50% !important;
}
.content-header>.breadcrumb {
	top: 120px;
}
#dropzone { margin-bottom: 3rem; }

.dropzone { border: 1px dashed #0087F7; border-radius: 5px; background: white; }
.dropzone .dz-message { font-weight: 400; }
.dropzone .dz-message .note { font-size: 0.8em; font-weight: 200; display: block; margin-top: 1.4rem; }
.bread-icon {
  font-size: 40px;
  color: #00ff00;
  /*color: #605CA8; bluish*/
  margin: 0 auto;
  text-align: center;
}
.content-header .bread-icon-text {
  color: #21e8f3;
  background: #000;
  padding: 2px 10px;
}
.content-header .bg-red .bread-icon-text, 
.content-header .bg-green .bread-icon-text,
.content-header .bg-blue .bread-icon-text,
.content-header .bg-aqua .bread-icon-text {
  background: transparent;
}
.bread-icon:hover {
	color: #F39C12;
}
.bg-aqua * , .bg-yellow *, .bg-green *, .bg-red *{
	color: #fff !important;
}
.cell-inner:after {
	background-color: #eee;
	height: 1px;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.custom-lexx-list {
  width:90%;
  height:50px;
  background-color: #03a9f4;
  margin:25px auto;
  position: relative;
  text-align: center;
  font-weight: 500;
  color: #fff;
  font-size: 16px;
  padding: 10px 0 10px 20px;
}

.custom-lexx-list:after { 
  content:"";/* required */
  position: absolute; /* takes the 'cap' out off flow */
  top:0; /* stick it to top edge of the sign */
  left:100%; /* push it way overto the right*/
  height:0; /* we're doing this with borders remember */
  width:0; 
  border-width: 26px;
  border-style:solid;
  border-color:#03a9f4; /* same as bg of my rectangle */
  /* now we make some of theborders disappear*/
  border-top-color:transparent;
  border-bottom-color:transparent;
  border-right-color:transparent;
}
.custom-lexx-list:hover, .custom-lexx-list.active {
  -webkit-filter:drop-shadow(3px 3px 3px #484747);
}
.fg-danger {
  color: #F44336;
}
.fg-success {
  color: #4CAF50;
}
.hidden {
  display: none;
}
.fg-green {
  color: #61C100;
}
.fg-orange {
  color: #FF8040;
}
.fg-blue {
  color: #4242FF;
}
.fg-brown {
  color: #A71417;
}
.fg-red {
  color:#FF0000; 
}
.fg-purple {
  color: #C400C4;
}
.valid-msg {
  color: #13a813 !important;
}
.error-msg {
  color: #f84d4d  !important;
}
.paddingLeftRight20 {
  padding-left:20px;
  padding-right:20px;
}
.font70 {
  font-size: 70px;
}
.bg-blue-faded {
  background-color: #C9CFDD;
}
.text-bold {
  font-weight: 700;
}
.btn-full {
  width: 100%;
}
.text-cursor {
  cursor: pointer;
}
.details-control * {
  color: black;
}