@import url(../../../https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);





body {
  font-family: Rubik;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn .mbr-iconfont {
  font-size: 1.6rem;
}
.navbar .btn {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #0d6786;
  border-color: #0d6786;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #ff3366;
  border-color: #ff3366;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff;
  background-color: #e50039;
  border-color: #e50039;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #82786e;
  border-color: #82786e;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #59524b;
  border-color: #59524b;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #f7ed4a;
  border-color: #f7ed4a;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #eadd0a;
  border-color: #eadd0a;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #879a9f;
  border-color: #879a9f;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #617479;
  border-color: #617479;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #b1a374;
  border-color: #b1a374;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #8b7d4e;
  border-color: #8b7d4e;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #149dcc;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.navbar-caption {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #149dcc;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #149dcc;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
.cid-qqkgF5onGl .navbar {
  background: #ffffff;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-qqkgF5onGl .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-qqkgF5onGl a {
  font-style: normal;
}
.cid-qqkgF5onGl .nav-item span {
  padding-right: 0.4em;
  font-size: 1.6em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-qqkgF5onGl .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qqkgF5onGl .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qqkgF5onGl .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qqkgF5onGl .menu-logo {
  margin-right: auto;
}
.cid-qqkgF5onGl .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qqkgF5onGl .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qqkgF5onGl .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qqkgF5onGl .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qqkgF5onGl .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qqkgF5onGl .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qqkgF5onGl .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qqkgF5onGl .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qqkgF5onGl .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qqkgF5onGl .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qqkgF5onGl .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qqkgF5onGl .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qqkgF5onGl .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qqkgF5onGl .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qqkgF5onGl .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qqkgF5onGl .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qqkgF5onGl .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qqkgF5onGl .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qqkgF5onGl .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qqkgF5onGl .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qqkgF5onGl .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qqkgF5onGl .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qqkgF5onGl button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qqkgF5onGl button.navbar-toggler:focus {
  outline: none;
}
.cid-qqkgF5onGl button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-qqkgF5onGl button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qqkgF5onGl button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qqkgF5onGl button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qqkgF5onGl button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qqkgF5onGl nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qqkgF5onGl nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qqkgF5onGl nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qqkgF5onGl nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qqkgF5onGl .collapsed .btn {
  display: flex;
}
.cid-qqkgF5onGl .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qqkgF5onGl .collapsed .navbar-collapse.collapsing,
.cid-qqkgF5onGl .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qqkgF5onGl .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qqkgF5onGl .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qqkgF5onGl .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qqkgF5onGl .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qqkgF5onGl .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qqkgF5onGl .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qqkgF5onGl .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qqkgF5onGl .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qqkgF5onGl .collapsed button.navbar-toggler {
  display: block;
}
.cid-qqkgF5onGl .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-qqkgF5onGl .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qqkgF5onGl .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qqkgF5onGl .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qqkgF5onGl .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qqkgF5onGl .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qqkgF5onGl img {
    height: 3.8rem !important;
  }
  .cid-qqkgF5onGl .btn {
    display: flex;
  }
  .cid-qqkgF5onGl button.navbar-toggler {
    display: block;
  }
  .cid-qqkgF5onGl .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-qqkgF5onGl .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qqkgF5onGl .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qqkgF5onGl .navbar-collapse.collapsing,
  .cid-qqkgF5onGl .navbar-collapse.show {
    display: block !important;
  }
  .cid-qqkgF5onGl .navbar-collapse.collapsing .navbar-nav,
  .cid-qqkgF5onGl .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qqkgF5onGl .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qqkgF5onGl .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qqkgF5onGl .navbar-collapse.collapsing .navbar-buttons,
  .cid-qqkgF5onGl .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qqkgF5onGl .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qqkgF5onGl .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qqkgF5onGl .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qqkgF5onGl .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qqkgF5onGl .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qqkgF5onGl .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
.cid-qqkgNJrMmq {
  background-image: url("../../../assets/images/code-man-small-800x533.png");
}
.cid-qqkgNJrMmq .form-container {
  transition: all .2s;
  border: 1px solid #ffffff;
  padding: 1rem;
}
@media (min-width: 768px) {
  .cid-qqkgNJrMmq .content-container {
    padding-right: 5rem;
  }
}
.cid-qqkhGkAhgd {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-qqkhGkAhgd .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.cid-qqkhGkAhgd .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #767676;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  border: 1px solid #767676;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: all .3s;
}
.cid-qqkhGkAhgd .nav-tabs .nav-link:hover {
  background-color: #149dcc;
}
.cid-qqkhGkAhgd .nav-tabs .nav-link:focus {
  box-shadow: none;
  background-color: #149dcc;
}
.cid-qqkhGkAhgd .nav-tabs .nav-link.active {
  font-weight: 500;
  color: #ffffff;
  font-style: normal;
  border: none;
  background: #149dcc;
}
.cid-qqkhGkAhgd .nav-tabs .nav-link.active:hover {
  border: none;
}
.cid-qqkhGkAhgd .mbr-section-subtitle {
  color: #767676;
}
.cid-qqkhGkAhgd p {
  color: #767676;
}
.cid-qqkhGkAhgd .mbr-figure {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-right: 4rem;
}
.cid-qqkhGkAhgd .mbr-text {
  word-break: break-word;
}
@media (max-width: 991px) {
  .cid-qqkhGkAhgd .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 2rem;
  }
}
.cid-qqkhPdfHxf {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f3f4f6;
}
.cid-qqkhPdfHxf .testimonial-text {
  font-style: italic;
  color: #676767;
  font-weight: 300;
}
.cid-qqkhPdfHxf .mbr-author-name {
  font-weight: bold;
  color: #232;
}
.cid-qqkhPdfHxf .mbr-author-desc {
  color: #232;
}
.cid-qqkm1DccrC {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qqkm1DccrC .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-qqkm1DccrC .number-wrap {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.15);
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 5px 10px 13px 10px;
  margin: 0;
  min-width: 118px;
  border-radius: 2px;
  max-width: 100%;
}
.cid-qqkm1DccrC .number {
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  letter-spacing: -2px;
  font-size: 55px;
  word-spacing: 0;
  line-height: 1.3;
  color: #ffffff;
}
.cid-qqkm1DccrC .period {
  display: block;
  padding-top: 2px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.cid-qqkm1DccrC .dot {
  position: absolute;
  top: -10px;
  right: -1em;
  width: 1em;
  display: block;
  font-size: 55px;
  height: 83%;
  overflow: hidden;
  font-style: normal;
  font-weight: 700;
  line-height: 89.65px;
  text-transform: none;
  letter-spacing: 0;
  word-spacing: 0;
  color: #ffffff;
}
.cid-qqkm1DccrC .countdown-cont {
  background: linear-gradient(45deg, #149dcc, #c8ceaf);
  max-width: 700px;
  border-radius: 3px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qqkm1DccrC .dot {
    display: none;
  }
}
@media (max-width: 543px) {
  .cid-qqkm1DccrC .number-wrap {
    margin-bottom: 15px;
  }
}
@media (max-width: 550px) {
  .cid-qqkm1DccrC .col-xs-3 {
    padding-left: 0;
    padding-right: 0;
  }
  .cid-qqkm1DccrC .number-wrap {
    min-width: auto;
  }
}
@media (max-width: 440px) {
  .cid-qqkm1DccrC .number,
  .cid-qqkm1DccrC .dot {
    font-size: 40px;
  }
}
@media (max-width: 380px) {
  .cid-qqkm1DccrC .period {
    font-size: 0.8rem;
  }
}
.cid-qqklPsIF2T {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(45deg, #dbd4b8, #25aab2);
}
.cid-qqklPsIF2T .btn {
  margin: 0;
}
.cid-qqkhULPAkq {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-qqkhULPAkq .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-qqkhULPAkq .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-qqkhULPAkq .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-qqkhULPAkq .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-qqkhULPAkq .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qqkhULPAkq .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-qqkhULPAkq .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qqkhULPAkq .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qqkhULPAkq .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qqkhULPAkq .media-container-row .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qqkhULPAkq .media-container-row .row-copirayt {
  word-break: break-word;
}
.cid-qqknydNWUK {
  background-image: url("../../../assets/images/background5.jpg");
}
.cid-qqknydNWUK .media-content {
  word-wrap: break-word;
}
.cid-qqknydNWUK .form-inline {
  display: block;
}
.cid-qqknydNWUK .form-inline .form-group {
  padding: 0.5rem;
  display: inline-block;
}
.cid-qqknydNWUK .form-inline .buttons-wrap {
  display: inline-block;
}
.cid-qqknydNWUK .form-inline input {
  text-align: center;
}
.cid-qqknydNWUK .mbr-figure {
  padding-bottom: 2rem;
}
@media (min-width: 992px) {
  .cid-qqknydNWUK .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-qqknydNWUK .mbr-text {
    text-align: center;
  }
  .cid-qqknydNWUK .form-inline {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .cid-qqknydNWUK .form-inline input {
    font-size: .85rem;
  }
}
.cid-qqkgF5onGl .navbar {
  background: #ffffff;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-qqkgF5onGl .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-qqkgF5onGl a {
  font-style: normal;
}
.cid-qqkgF5onGl .nav-item span {
  padding-right: 0.4em;
  font-size: 1.6em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-qqkgF5onGl .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qqkgF5onGl .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qqkgF5onGl .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qqkgF5onGl .menu-logo {
  margin-right: auto;
}
.cid-qqkgF5onGl .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qqkgF5onGl .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qqkgF5onGl .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qqkgF5onGl .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qqkgF5onGl .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qqkgF5onGl .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qqkgF5onGl .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qqkgF5onGl .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qqkgF5onGl .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qqkgF5onGl .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qqkgF5onGl .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qqkgF5onGl .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qqkgF5onGl .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qqkgF5onGl .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qqkgF5onGl .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qqkgF5onGl .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qqkgF5onGl .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qqkgF5onGl .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qqkgF5onGl .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qqkgF5onGl .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qqkgF5onGl .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qqkgF5onGl .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qqkgF5onGl button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qqkgF5onGl button.navbar-toggler:focus {
  outline: none;
}
.cid-qqkgF5onGl button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-qqkgF5onGl button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qqkgF5onGl button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qqkgF5onGl button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qqkgF5onGl button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qqkgF5onGl nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qqkgF5onGl nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qqkgF5onGl nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qqkgF5onGl nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qqkgF5onGl .collapsed .btn {
  display: flex;
}
.cid-qqkgF5onGl .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qqkgF5onGl .collapsed .navbar-collapse.collapsing,
.cid-qqkgF5onGl .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qqkgF5onGl .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qqkgF5onGl .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qqkgF5onGl .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qqkgF5onGl .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qqkgF5onGl .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qqkgF5onGl .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qqkgF5onGl .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qqkgF5onGl .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qqkgF5onGl .collapsed button.navbar-toggler {
  display: block;
}
.cid-qqkgF5onGl .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-qqkgF5onGl .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qqkgF5onGl .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qqkgF5onGl .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qqkgF5onGl .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qqkgF5onGl .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qqkgF5onGl img {
    height: 3.8rem !important;
  }
  .cid-qqkgF5onGl .btn {
    display: flex;
  }
  .cid-qqkgF5onGl button.navbar-toggler {
    display: block;
  }
  .cid-qqkgF5onGl .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-qqkgF5onGl .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qqkgF5onGl .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qqkgF5onGl .navbar-collapse.collapsing,
  .cid-qqkgF5onGl .navbar-collapse.show {
    display: block !important;
  }
  .cid-qqkgF5onGl .navbar-collapse.collapsing .navbar-nav,
  .cid-qqkgF5onGl .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qqkgF5onGl .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qqkgF5onGl .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qqkgF5onGl .navbar-collapse.collapsing .navbar-buttons,
  .cid-qqkgF5onGl .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qqkgF5onGl .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qqkgF5onGl .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qqkgF5onGl .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qqkgF5onGl .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qqkgF5onGl .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qqkgF5onGl .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
.cid-qqkhULPAkq {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-qqkhULPAkq .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-qqkhULPAkq .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-qqkhULPAkq .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-qqkhULPAkq .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-qqkhULPAkq .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qqkhULPAkq .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-qqkhULPAkq .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qqkhULPAkq .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qqkhULPAkq .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qqkhULPAkq .media-container-row .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qqkhULPAkq .media-container-row .row-copirayt {
  word-break: break-word;
}
.cid-qqkoHNV2eI {
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-qqkoHNV2eI h1 {
  color: #616161;
}
.cid-qqkoHNV2eI h2,
.cid-qqkoHNV2eI h3,
.cid-qqkoHNV2eI p {
  color: #767676;
}
.cid-qqkoHNV2eI .mbr-section-subtitle {
  font-style: italic;
}
.cid-qqkpFAjeGm {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f9f9f9;
}
.cid-qqkpFAjeGm h2 {
  text-align: left;
}
.cid-qqkpFAjeGm h4 {
  text-align: left;
  font-weight: 500;
}
.cid-qqkpFAjeGm p {
  color: #767676;
  text-align: left;
}
.cid-qqkpFAjeGm .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qqkpFAjeGm .mbr-card-img-title {
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
}
.cid-qqkpFAjeGm .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-qqkpFAjeGm .card-img {
  padding-right: 2rem;
}
.cid-qqkpFAjeGm .card-img span {
  font-size: 72px;
  color: #707070;
}
.cid-qqkpFAjeGm .mbr-crt-title {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
@media (min-width: 992px) {
  .cid-qqkpFAjeGm .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-qqkpFAjeGm .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
.cid-qqkgF5onGl .navbar {
  background: #ffffff;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-qqkgF5onGl .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-qqkgF5onGl a {
  font-style: normal;
}
.cid-qqkgF5onGl .nav-item span {
  padding-right: 0.4em;
  font-size: 1.6em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-qqkgF5onGl .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qqkgF5onGl .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qqkgF5onGl .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qqkgF5onGl .menu-logo {
  margin-right: auto;
}
.cid-qqkgF5onGl .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qqkgF5onGl .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qqkgF5onGl .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qqkgF5onGl .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qqkgF5onGl .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qqkgF5onGl .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qqkgF5onGl .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qqkgF5onGl .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qqkgF5onGl .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qqkgF5onGl .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qqkgF5onGl .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qqkgF5onGl .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qqkgF5onGl .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qqkgF5onGl .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qqkgF5onGl .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qqkgF5onGl .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qqkgF5onGl .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qqkgF5onGl .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qqkgF5onGl .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qqkgF5onGl .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qqkgF5onGl .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qqkgF5onGl .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qqkgF5onGl button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qqkgF5onGl button.navbar-toggler:focus {
  outline: none;
}
.cid-qqkgF5onGl button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-qqkgF5onGl button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qqkgF5onGl button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qqkgF5onGl button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qqkgF5onGl button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qqkgF5onGl nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qqkgF5onGl nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qqkgF5onGl nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qqkgF5onGl nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qqkgF5onGl .collapsed .btn {
  display: flex;
}
.cid-qqkgF5onGl .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qqkgF5onGl .collapsed .navbar-collapse.collapsing,
.cid-qqkgF5onGl .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qqkgF5onGl .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qqkgF5onGl .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qqkgF5onGl .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qqkgF5onGl .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qqkgF5onGl .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qqkgF5onGl .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qqkgF5onGl .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qqkgF5onGl .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qqkgF5onGl .collapsed button.navbar-toggler {
  display: block;
}
.cid-qqkgF5onGl .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-qqkgF5onGl .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qqkgF5onGl .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qqkgF5onGl .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qqkgF5onGl .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qqkgF5onGl .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qqkgF5onGl img {
    height: 3.8rem !important;
  }
  .cid-qqkgF5onGl .btn {
    display: flex;
  }
  .cid-qqkgF5onGl button.navbar-toggler {
    display: block;
  }
  .cid-qqkgF5onGl .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-qqkgF5onGl .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qqkgF5onGl .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qqkgF5onGl .navbar-collapse.collapsing,
  .cid-qqkgF5onGl .navbar-collapse.show {
    display: block !important;
  }
  .cid-qqkgF5onGl .navbar-collapse.collapsing .navbar-nav,
  .cid-qqkgF5onGl .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qqkgF5onGl .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qqkgF5onGl .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qqkgF5onGl .navbar-collapse.collapsing .navbar-buttons,
  .cid-qqkgF5onGl .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qqkgF5onGl .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qqkgF5onGl .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qqkgF5onGl .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qqkgF5onGl .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qqkgF5onGl .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qqkgF5onGl .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
.cid-qqkhULPAkq {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-qqkhULPAkq .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-qqkhULPAkq .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-qqkhULPAkq .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-qqkhULPAkq .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-qqkhULPAkq .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qqkhULPAkq .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-qqkhULPAkq .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qqkhULPAkq .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qqkhULPAkq .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qqkhULPAkq .media-container-row .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qqkhULPAkq .media-container-row .row-copirayt {
  word-break: break-word;
}
