.cookieAcceptBar {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #333;
    color: #fff;
    margin-bottom: 20px;
    border-top: 1px solid #fff;
    z-index: 99999;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cookieAcceptBar div {
    padding: 10px;
    line-height: 1;
}
.cookieAcceptBar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

button {
    cursor: pointer;
    border: none;
    background-color: #fa9b16;
    color: #000;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 20px;
    box-shadow: 0 1px #fae816;
    border-radius: 5px;
    /* height: 20px; */
    line-height: 20px;
    padding: 5px 10px;
}