/* Insert Your Custom CSS Here */
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.dataTable tr[role="row"] {
    cursor: pointer;
}

.dataTable thead {
    text-transform: uppercase;
    font-family: "raleway";
}

.dataTable thead th {
    font-weight: 600;
    text-align: center;
}
.dataTable thead {
    background-color: #508df3;
    color: #fff;
}

.dataTable a.custom-id:hover,
.dataTable a.custom-id:visited,
.dataTable a.custom-id:focus {
    color: #428BCA !important;
    font-weight: 700;
}
.dataTable .table-detail {
    /* background-color: #C1F4DB; */
    background-color: #E4E9EF;
}
table.dataTable tbody>tr.selected,
table.dataTable tbody>tr>.selected {
    background-color: #ddd;
    color: #000;
}
.font14 {
    font-size: 14px;
}
.font18 {
    font-size: 18px;
}
.padding20 {
    padding: 20px;
}
.bg-blue-faded {
    background-color: #C9CFDD;
}
.marginTopBottom20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.marginBottom20 {
    margin-bottom: 20px;
}
.marginTop20 {
    margin-top: 20px;
}
.has-background-image {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.user-coverphoto {
    height: 300px;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 3px;
    position: relative;
}

.user-coverphoto-container {
    position: relative;
    width: 100%;
}

.user-coverphoto-text-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    /*margin: 30px;*/
    width: 100%;
    height: 100%;
    padding: 10%;
    /*padding-left: 20px;*/
    z-index: 10;
    text-align: center;
}

.user-coverphoto-text-container h1 {
    font-size: 50px;
    text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.3);
}
.text-bold {
    font-weight: 700;
}
.btn-full {
    width: 100%;
}
.text-cursor {
    cursor: pointer;
}
.dataTable tr .details-control strong i {
    transform: rotate(0deg);
    font-size: 1.5rem;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.dataTable tr.shown .details-control strong i {
    transform: rotate(180deg);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.vd_navbar {
    max-height: 800px;
    overflow-y: auto;
    overflow-x: hidden !important;
}
@media only screen and (min-width: 769px) {
    .vd_navbar {
        margin-top: 60px;
        position: fixed;
    }
}

.scroll1::-webkit-scrollbar {
    width: 10px;
}

.scroll1::-webkit-scrollbar-track {
    background: #ddd;
}

.scroll1::-webkit-scrollbar-thumb {
    background: #666;
}

.scroll2::-webkit-scrollbar {
    width: 5px;
}

.scroll2::-webkit-scrollbar-thumb {
    background: #666;
}

.scroll3::-webkit-scrollbar {
    width: 5px;
}

.scroll3::-webkit-scrollbar-thumb {
    background: #ddd;
}

.scroll3::-webkit-scrollbar-track {
    background: #666;
}

.scroll4::-webkit-scrollbar {
    width: 10px;
}

.scroll4::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

.scroll4::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}

.scroll5::-webkit-scrollbar {
    width: 15px;
}

.scroll5::-webkit-scrollbar-thumb {
    background: #666;
}

.scroll5::-webkit-scrollbar-track {
    background: #ddd;
}

.scroll5::-webkit-scrollbar-button {
    background: #666;
    height: 15px;
    border-radius: 50%;
}
.scroll {
    /* width: 20px; */
    height: 200px;
    overflow: auto;
    /* float: left; */
    /* margin: 0 10px; */
}
.text-black {
    color: #000 !important;
}
