/*
  Author: Lexx YungCarter
  Github : lexx-yungcarter
  Domain: Web Apps Developer
  Licence: AceLords Single-Site Commercial Licence

  colors for this theme : 
  each has a variation class suffic of -300, -400, -600, -700, -800
  each also has a prefix class of alpha- eg. alpha-pink
  each also has a class of -
  bg-indigo / purple / primary / success / warning / danger / info / pink / violet / blue / green / orange / grey / white
  alpha-pink / slate / purple / primary / success / warning / danger / info / pink / violet / blue / green / orange / grey / white
  border-blue / pink / primary / success / slate / green/ grey / brown/ white / 
  border-top-blue / "" (same as line above)
  border-bottom-blue / "" (same as line above)
  border-left-blue / "" (same as line above)
  border-right-blue / "" (same as line above)
  text-success / primary / "" (same as line above)
*/

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v13/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

.text-right
{
    text-align: right;
}
.text-left
{
    text-align: left;
}
.text-white
{
    color: #fff;
}
.text-bold {
  font-weight: 700;
}
.text-black
{
    color: #000;
}
.text-prata
{
  font-family: 'Prata' !important;
}

.text-raleway
{
  font-family: 'Raleway' !important;
}

.easyPieChart {
  position: relative;
  text-align: center;
}

.easyPieChart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.easyPieChart {
  margin: 0px auto;
}

.chart-bottom-heading {
  margin-top: 5px;
  text-align: center;
}

body {
  background: url(../img/bg-color.png) repeat scroll 0 0;
  padding-top: 0px;
  /* Required, because main menu / navbar has "navbar-fixed-top" class and is sticked to the top */
}
.navbar-brand {
  padding: 2px;
} 
.navbar-brand img {
  max-height: 50px;
}

.glyphicon {
  margin-right: 10px;
}

.panel-body {
  padding: 0px;
}

.panel-body table tr td {
  padding-left: 15px
}

.panel-body.table {
  margin-bottom: 0px;
}

.padding-shadow {
  background: url(../img/panel-bg-color.png) repeat scroll 0 0;
  padding-top: 15px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}
.marginTopBottom20 {
  margin-top: 20px;
  margin-bottom:  20px;
}
.marginBottom20 {
  margin-bottom:  20px;
}
.marginTop20 {
  margin-top: 20px;
}
.paddingTopBottom20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.paddingTop20 {
  padding-top: 20px;
}
.padding20 {
  padding: 20px;
}
.marginLeft20 {
  margin-left: 20px;
}
.marginLeft10 {
  margin-left: 10px;
}
.divider {
  margin-top: 20px; 
  margin-bottom: 20px; 
}
.footer {
  padding: 10px;
}
.table-detail {
  width: 100%;
  padding: 12px;
}
.table-detail p {
  padding: 5px;
}
.font70 {
  font-size: 70px;
}
.font50 {
  font-size: 50px;
}
.font20 {
  font-size: 20px;
}
.font14 {
  font-size: 14px;
}
.nav.nav-tabs li {
  margin-left: 3px;
}
.nav.nav-tabs li:hover:not(.active){
  border-radius: 3px;
  padding: 1px;
}
.nav.nav-tabs li:hover:not(.active) a  {
  border: 0px !important;

}
.file-uploads {
  padding: 10px;
  list-style: none;
}
.has-background-image {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.user-coverphoto {
  height: 200px;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 3px;
  position: relative;
}
.user-coverphoto-container {
  position: relative;
  width: 100%;
  margin-bottom: 45px;
}
.user-coverphoto-text-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  /*margin: 30px;*/
  width: 100%;
  height: 100%;
  padding: 3%;
  /*padding-left: 20px;*/
  z-index: 10; 
  text-align: center;
}
.user-coverphoto-text-container h1 {
  font-size: 50px;
  text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.3); 
}
.user-coverphoto-avatar {
  position: absolute;
  bottom: -45px;
  width: 90px;
  height: 90px;
  margin-left: calc(50% - 45px);
  border: 2px double #fff;
  border-radius: 50%;
}
.dataTable tr[role="row"]{
  cursor: pointer;
}
.dataTable thead {
  text-transform: uppercase;
  font-family: "raleway";
}
.dataTable thead th {
  font-weight: 600;
  text-align: center;
}

.content-area {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #C9CFDD;
  border-top: 1px solid #C9CFDD;
  border-bottom: 1px solid #C9CFDD;
  padding-top: 20px;
}
@media screen and (max-width: 800px) {
  .content-area {
    min-height: 520px;
  }
}
@media screen and (min-width: 800px) {
  .content-area {
    min-height: 520px;
  }
}
.weight600 {
  font-weight: 600;
}
.weight300 {
  font-weight: 300;
}
.panel-group .panel+.panel {
     margin-top: 0; 
}
.styled-badge {
  padding: 7px 9px;
  border-radius: 50%;
  min-width: 25px;
}
.panel, .panel-default, .panel-bounty, .panel-heading, .panel-title {
  border-radius: 0 !important;
}
.panel-bounty:not(.active) {
  border-bottom: 1px solid #fff;
  box-shadow: 0 3px #fff;
}
.panel-active {
  background-color: #FF8000;
  color: #fff;
}
.panel-active a {
  color: #fff !important;
}
.panel-bounty h4>a:hover, .panel-bounty:hover h4>a {
  color: #fff !important;

}
.show-message {
  cursor: pointer;
}
.noTopLeftBorder {
  border-top: 0;
  border-left: 0;
}

/*
====================================================
    COLOR CORRECTION

    the blue : #00BFFF
    client blue : #98ACBC rgb(152,172,188)
    yuvo blue : #99ADBD
    yuvo blue lighter : #E2E7EB
===================================================
*/
.footer {
  background-color: #303030;
  color: #CAC8C8;
}
.text-success {
  color: green;
}
.text-white {
  color: #fff !important;
}
.text-right {
  text-align: right;
}
.text-danger {
  color: red;
}
.bg-white {
  background-color: #fff;
}
.bg-blue {
  background-color: #98ACBC;
}
.bg-blue-faded {
  background-color: rgba(152,172,188, 0.3);
}
.bg-yuvo {
  background-color: #739EC7 !important;
}
.bg-yuvo-light {
  background-color: #C9CFDD;
}
.bg-yuvo-dark {
  background-color: #5984B9;
}
.bg-gray {
  background-color: gray;
}
.bg-lightgray {
  background-color: lightgray;
}
.panel-default {
  border-color: #CAC8C8;
  background: url(../img/panel-bg-color.png) repeat scroll 0 0;
  border-right: 0;
}
.panel-title.active {
  background-color: #fff;
  color: #606060 !important;
}
.padding-shadow {
  background: url(../img/panel-bg-color.png) repeat scroll 0 0;
  -webkit-box-shadow: 9px 4px 40px - 11px rgba(168, 155, 168, 1);
  -moz-box-shadow: 9px 4px 40px - 11px rgba(168, 155, 168, 1);
  box-shadow: 9px 4px 40px - 11px rgba(168, 155, 168, 1);
  padding-top: 15px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 0px solid #000000;
}
.panel-title a:focus, .panel-body a:focus, .panel-title a:hover, .panel-body a:hover {
  color: #303030 !important;
}
.table-detail {
  background-color: #dcebf7;
  border: 1px solid #3a9ad9;
}
.nav.nav-tabs li, .nav.nav-tabs li:hover {
  background-color: #98ACBC;
}
.nav.nav-tabs li a, .nav.nav-tabs li:hover a {
  color: #fff;
}
.nav.nav-tabs li:hover, .nav.nav-tabs li:hover a {
  background-color: #98ACBC;
  color: #fff;
}
.nav.nav-tabs li.active {
  background-color: #fff;
  color: #000;
}
.nav.nav-tabs li.active a {
  background-color: #fff;
  color: #000;
}
.file-uploads {
  box-shadow: 2px 0 5px #CAC8C8;
}
.valid-msg {
  color: #13a813 !important;
}
.error-msg {
  color: #f84d4d  !important;
}
.text-red {
  color: red;
}
.dataTable thead {
  background-color: #E5EAEE;
  color: #5984B9;
}
.dataTable a.custom-id:hover, .dataTable a.custom-id:visited, .dataTable a.custom-id:focus {
  color: #428BCA !important;
  font-weight: 700;
}
.bordered-bottom {
  border-bottom: 1px solid #303030;
}
.multifile-list {
  border: 2px solid #eaeaea;
  padding: 5px;
}
.multifile-list:empty {
  border: 0;
  padding: 0;
}
.display-inline * {
  display: inline-block
}
.dataTable a:hover:not(.btn), .dataTable a:focus:not(.btn), .dataTable a:visited:not(.btn) {
  color: #2E8EDE;
  font-weight: 700;
}
.dataTable a.btn:hover, .dataTable a.btn:focus, .dataTable a.btn:visited {
  color: #fff;
}
/* div.dt-buttons {
  float: right;
  margin-left: 10px;
} */
.floatRight {
  float: right;
}
.clear {
  clear: both;
}
.font70 {
  font-size: 70px;
}
.details-control * {
  color: black !important;
}
.text-underline {
  text-decoration: underline;
}
.text-italics {
  font-style: italic;
}
@media only screen and (min-width: 700px) {
  .text-md-right {
    text-align: right;
  }
}

/* font size corrections */
body,
p {
  font-size: 1.2em;
}
.panel-group .panel-heading h4,
.panel-group .panel-bounty .panel-heading h4 {
  font-size: 1.3em;
}
