@import url(../../../https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(../../../https://fonts.googleapis.com/css?family=Raleway:400,300,700);



/*TITLE*/
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price,
.nav-link.link,
.dropdown-item,
cite,
.panel-title a,
.tags,
.item-title h3 {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
/*SUBTITLE*/
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block,
.caption {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
/*TEXT*/
body,
input,
textarea,
p,
li,
.mbr-gallery-filter ul li span,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
/*ROUNDED BUTTONS*/
.btn {
  border-radius: 1.6em ;
}
.btn:before {
  border-radius: 1.6em ;
}
.btn:after {
  border-radius: 1.6em ;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
/*COLORS*/
a,
.list-img .mbr-iconfont,
.image .mbr-iconfont,
.c-info .timer,
.list-point li span,
.item-numb .numb,
.list-numb i,
.list-numb em,
.testi-item blockquote p::before,
.contacts .mbr-iconfont,
.price-val b,
.price-val strong {
  color: #2196f3;
}
.item-layer {
  background: rgba(33, 150, 243, 0.5);
}
.styled:before,
.styled span:before,
.mbr-gallery-filter li span:after,
.mbr-gallery-filter li.active span:before,
.mbr-gallery-filter li:hover span:before,
.folow a:hover,
.panel.active .panel-heading a,
.panel-heading a:hover,
.panel.active .panel-heading a span:before,
.panel.active .panel-heading a:hover span:before {
  background: #2196f3;
}
.mbr-theme-bg {
  background: #2196f3 !important;
}
.mbr-slider .carousel-indicators li.active,
.mbr-slider .carousel-indicators li:hover,
.quote,
input:focus,
textarea:focus {
  border-color: #2196f3 !important;
}
a:hover,
.adr-link:hover,
.news-min .text a:hover {
  color: #32a7ff;
}
.bg-primary {
  background-color: #2196f3 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: transparent;
  border-color: #2196f3;
  color: #0074d1;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #2196f3;
  background-color: transparent;
  border-color: #2196f3;
}
.btn-primary:after {
  border-color: #2196f3;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #2196f3 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-secondary {
  background-color: transparent;
  border-color: #bfcecb;
  color: #9daca9;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #bfcecb;
  background-color: transparent;
  border-color: #bfcecb;
}
.btn-secondary:after {
  border-color: #bfcecb;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #bfcecb !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-info {
  background-color: transparent;
  border-color: #7e9b9f;
  color: #5c797d;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #7e9b9f;
  background-color: transparent;
  border-color: #7e9b9f;
}
.btn-info:after {
  border-color: #7e9b9f;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #7e9b9f !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-success {
  background-color: transparent;
  border-color: #90a878;
  color: #6e8656;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #90a878;
  background-color: transparent;
  border-color: #90a878;
}
.btn-success:after {
  border-color: #90a878;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #90a878 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-warning {
  background-color: transparent;
  border-color: #f3c649;
  color: #d1a427;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #f3c649;
  background-color: transparent;
  border-color: #f3c649;
}
.btn-warning:after {
  border-color: #f3c649;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #f3c649 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-danger {
  background-color: transparent;
  border-color: #f28281;
  color: #d0605f;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #f28281;
  background-color: transparent;
  border-color: #f28281;
}
.btn-danger:after {
  border-color: #f28281;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #f28281 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #0960a5;
  color: #0960a5;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #2196f3 !important;
  border-color: #2196f3 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #2196f3 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #2196f3;
}
.btn-social:hover {
  background: #2196f3;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #2196f3;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #2196f3;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #2196f3;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #2196f3;
}
.lead a,
.lead a:hover {
  color: #2196f3;
}
.lead blockquote {
  border-color: #2196f3;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e3f2fd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #2196f3;
}
#header5-g SPAN {
  font-size: 48px;
}
#menu1-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu1-0 .navbar-caption {
  color: #ffffff;
}
#menu1-0 .navbar-toggler {
  color: #ffffff;
}
#menu1-0 .close-icon::before,
#menu1-0 .close-icon::after {
  background-color: #ffffff;
}
#menu1-0 .link,
#menu1-0 .dropdown-item {
  color: #ffffff;
}
#menu1-0 .link {
  font-size: 0.9rem;
}
#menu1-0 .dropdown-item,
#menu1-0 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu1-0 .link:hover,
#menu1-0 .dropdown-item:hover,
#menu1-0 .link:focus,
#menu1-0 .dropdown-item:focus {
  color: #222;
}
#menu1-0 .link[aria-expanded="true"],
#menu1-0 .dropdown-menu {
  background: #0c7cd5;
}
#menu1-0 .nav-dropdown-sm .link:focus,
#menu1-0 .nav-dropdown-sm .link:hover,
#menu1-0 .nav-dropdown-sm .dropdown-item:focus,
#menu1-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #128ff2!important;
}
#menu1-0 .navbar,
#menu1-0 .nav-dropdown-sm,
#menu1-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu1-0 .nav-dropdown-sm .dropdown-menu {
  background: #2196f3;
}
#menu1-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu1-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu1-0 .bg-color.transparent.opened .link:hover,
#menu1-0 .bg-color.transparent.opened .link:focus {
  color: #222;
}
#menu1-0 .link[aria-expanded="true"],
#menu1-0 .dropdown-item[aria-expanded="true"] {
  color: #222!important;
}
#text1-e H3 {
  color: #ffffff;
}
#text1-e P {
  color: #efefef;
}
#menu1-h .hide-buttons .nav-btn {
  display: none !important;
}
#menu1-h .navbar-caption {
  color: #ffffff;
}
#menu1-h .navbar-toggler {
  color: #ffffff;
}
#menu1-h .close-icon::before,
#menu1-h .close-icon::after {
  background-color: #ffffff;
}
#menu1-h .link,
#menu1-h .dropdown-item {
  color: #ffffff;
}
#menu1-h .link {
  font-size: 0.9rem;
}
#menu1-h .dropdown-item,
#menu1-h .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu1-h .link:hover,
#menu1-h .dropdown-item:hover,
#menu1-h .link:focus,
#menu1-h .dropdown-item:focus {
  color: #222;
}
#menu1-h .link[aria-expanded="true"],
#menu1-h .dropdown-menu {
  background: #0c7cd5;
}
#menu1-h .nav-dropdown-sm .link:focus,
#menu1-h .nav-dropdown-sm .link:hover,
#menu1-h .nav-dropdown-sm .dropdown-item:focus,
#menu1-h .nav-dropdown-sm .dropdown-item:hover {
  background: #128ff2!important;
}
#menu1-h .navbar,
#menu1-h .nav-dropdown-sm,
#menu1-h .nav-dropdown-sm .link[aria-expanded="true"],
#menu1-h .nav-dropdown-sm .dropdown-menu {
  background: #2196f3;
}
#menu1-h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu1-h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu1-h .bg-color.transparent.opened .link:hover,
#menu1-h .bg-color.transparent.opened .link:focus {
  color: #222;
}
#menu1-h .link[aria-expanded="true"],
#menu1-h .dropdown-item[aria-expanded="true"] {
  color: #222!important;
}
#header6-k SPAN {
  font-size: 36px;
}
#header6-k P {
  text-align: center;
  color: #efefef;
}
#menu1-o .hide-buttons .nav-btn {
  display: none !important;
}
#menu1-o .navbar-caption {
  color: #ffffff;
}
#menu1-o .navbar-toggler {
  color: #ffffff;
}
#menu1-o .close-icon::before,
#menu1-o .close-icon::after {
  background-color: #ffffff;
}
#menu1-o .link,
#menu1-o .dropdown-item {
  color: #ffffff;
}
#menu1-o .link {
  font-size: 0.9rem;
}
#menu1-o .dropdown-item,
#menu1-o .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu1-o .link:hover,
#menu1-o .dropdown-item:hover,
#menu1-o .link:focus,
#menu1-o .dropdown-item:focus {
  color: #222;
}
#menu1-o .link[aria-expanded="true"],
#menu1-o .dropdown-menu {
  background: #0c7cd5;
}
#menu1-o .nav-dropdown-sm .link:focus,
#menu1-o .nav-dropdown-sm .link:hover,
#menu1-o .nav-dropdown-sm .dropdown-item:focus,
#menu1-o .nav-dropdown-sm .dropdown-item:hover {
  background: #128ff2!important;
}
#menu1-o .navbar,
#menu1-o .nav-dropdown-sm,
#menu1-o .nav-dropdown-sm .link[aria-expanded="true"],
#menu1-o .nav-dropdown-sm .dropdown-menu {
  background: #2196f3;
}
#menu1-o .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu1-o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu1-o .bg-color.transparent.opened .link:hover,
#menu1-o .bg-color.transparent.opened .link:focus {
  color: #222;
}
#menu1-o .link[aria-expanded="true"],
#menu1-o .dropdown-item[aria-expanded="true"] {
  color: #222!important;
}
