/*
Template Name: acepaperstrap
Description: Ace Paperstrap
Author: Lexx YungCarter
Author URI: http://github.com/lexxyungcarter

Version: 1.0
the blue: #00BFFF
client blue: #98ACBC rgb(152, 172, 188)

*/

/*
==================================================
    TABLE OF CONTENTS

    1. FONT IMPORTS
    2. NAVBAR STYLING
    3. CAROUSEL STYLING
    4. SUPPORTING CLASSES
    5. COLOR CORRECTION
*/

/*
====================================================
    FONT IMPORTS
===================================================
*/

@font-face{
	font-family: "Prata";
	src: url('../../../fonts/Prata-Regular.ttf');
}

@font-face{
	font-family: "raleway";
	src: url('../../../fonts/raleway.regular.ttf');
}
/* latin-ext */
@font-face {
  font-family: 'Sintony';
  font-style: normal;
  font-weight: 400;
  src: local('Sintony'), url(https://fonts.gstatic.com/s/sintony/v4/NSpavdvike7xipHfiByCrPY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sintony';
  font-style: normal;
  font-weight: 400;
  src: local('Sintony'), url(https://fonts.gstatic.com/s/sintony/v4/CxEtQ1VGsZ4sZv6p3ztOzw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/*
 ========================================================================
    NavBar
========================================================================
*/

/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper
{
    position: absolute;
    top: 120px;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper > .container
{
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar
{
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container
{
    width: auto;
}
.main-nav .login, .main-nav .register
{
    padding: 8px 15px;
    border-radius: 30px;
    text-decoration: none;
}
.main-nav .login {
    margin: 0 10px;
}

@media (min-width: 768px)
{
/* Navbar positioning foo */
    .navbar-wrapper
    {
        margin-top: -20px;
    }
    .navbar-wrapper .container
    {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar
    {
        padding-right: 0;
        padding-left: 0;
    }
/* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar
    {
        border-radius: 4px;
    }
}

/*
 ========================================================================
    Carousel
========================================================================
*/

.carousel
{
    margin-top: 30px;
    width: 100%;
}

.bs-slider
{
    overflow: hidden;
    max-height: 700px;
    position: relative;
    background: #000000;
}

.bs-slider:hover {
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.bs-slider:active {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.bs-slider .bs-slider-overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.40);
}

.bs-slider > .carousel-inner > .item > img,
.bs-slider > .carousel-inner > .item > a > img
{
    margin: auto;
    width: 100% !important;
}

/********************
*****Slide effect
**********************/

.fade
{
    opacity: 1;
}

.fade .item
{
    top: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0 !important;
    display: block !important;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}

.fade .item:first-child
{
    top: auto;
    position: relative;
}

.fade .item.active
{
    opacity: 1;
    z-index: 2;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}

/*---------- LEFT/RIGHT ROUND CONTROL ----------*/

.control-round .carousel-control
{
    top: 47%;
    opacity: 0;
    width: 45px;
    height: 45px;
    z-index: 100;
    color: #ffffff;
    display: block;
    font-size: 24px;
    cursor: pointer;
    overflow: hidden;
    line-height: 43px;
    text-shadow: none;
    position: absolute;
    font-weight: normal;
    background: transparent;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

.control-round:hover .carousel-control
{
    opacity: 1;
}

.control-round .carousel-control.left
{
    left: 1%;
}

.control-round .carousel-control.right
{
    right: 1%;
}

.control-round .carousel-control.left:hover,
.control-round .carousel-control.right:hover
{
    color: #fdfdfd;
    background: rgba(0, 0, 0, 0.5);
    border: 0px transparent;
}

.control-round .carousel-control.left>span:nth-child(1)
{
    left: 45%;
}

.control-round .carousel-control.right>span:nth-child(1)
{
    right: 45%;
}

/*---------- INDICATORS CONTROL ----------*/

.indicators-line > .carousel-indicators
{
    right: 45%;
    bottom: 3%;
    left: auto;
    width: 90%;
    height: 20px;
    font-size: 0;
    overflow-x: auto;
    text-align: right;
    overflow-y: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    white-space: nowrap;
}

.indicators-line > .carousel-indicators li
{
    padding: 0;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(158, 158, 158);
    text-indent: 0;
    overflow: hidden;
    text-align: left;
    position: relative;
    letter-spacing: 1px;
    background: rgb(158, 158, 158);
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 5px;
    -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
    transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
    z-index: 10;
    cursor: pointer;
}

.indicators-line > .carousel-indicators li:last-child
{
    margin-right: 0;
}

.indicators-line > .carousel-indicators .active {
    margin: 1px 5px 1px 1px;
    box-shadow: 0 0 0 2px #fff;
    background-color: transparent;
    position: relative;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;

}

.indicators-line > .carousel-indicators .active:before
{
    transform: scale(0.5);
    background-color: #fff;
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

/*---------- SLIDE CAPTION ----------*/

.slide_style_left
{
    text-align: left !important;
}

.slide_style_right
{
    text-align: right !important;
}

.slide_style_center
{
    text-align: center !important;
}

.slide-text {
    left: 0;
    top: 25%;
    right: 0;
    margin: auto;
    padding: 10px;
    position: absolute;
    text-align: left;
    padding: 10px 85px;
    
}

.slide-text > h1
{
    padding: 0;
    color: #ffffff;
    font-size: 70px;
    font-style: normal;
    line-height: 84px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    display: inline-block;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.slide-text > p
{
    padding: 0;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 40px;
    letter-spacing: 1px;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}

.slide-text > a.btn-default
{
    color: #000;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-right: 10px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.slide-text > a.btn-primary
{
    color: #ffffff;
    cursor: pointer;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-left: 10px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    background: #00bfff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.slide-text > a:hover,
.slide-text > a:active
{
    color: #ffffff;
    background: #222222;
    -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

/*------------------------------------------------------*/

/* RESPONSIVE
/*------------------------------------------------------*/

@media (max-width: 991px)
{
    .slide-text h1
    {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .slide-text > p
    {
        font-size: 18px;
    }
}

/*---------- MEDIA 480px ----------*/

@media (max-width: 768px)
{
    .slide-text
    {
        padding: 10px 50px;
        top: 0;
    }
    .slide-text h1
    {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .slide-text > p
    {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .control-round .carousel-control
    {
        display: none;
    }
}

@media (max-width: 480px)
{
    .slide-text
    {
        padding: 10px 30px;
    }
    .slide-text h1
    {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 5px;
    }
    .slide-text > p
    {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .slide-text > a.btn-default, 
    .slide-text > a.btn-primary
    {
        font-size: 10px;
        line-height: 10px;
        margin-right: 10px;
        text-align: center;
        padding: 10px 15px;
    }
    .indicators-line > .carousel-indicators
    {
        display: none;
    }
}

/*
======================================================
    SUPPORTING CLASSES
======================================================
*/
body {
    position: relative; 
}
#header-1
{
    height: 100px;
}

.headroom--unpinned
{
    top: -70px;
}

.has-background-image
{
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: inherit;
    height: inherit;
}

header .overlay
{
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: repeat;
    width: inherit;
    height: inherit;
    background-color: rgba(0,0,0,0.8);
}

header .text-holder
{
    position: absolute;
    top: 20%;
    width: inherit;
    height: inherit;
    text-align: center;
    color: #fff;
}

header .text-holder h4
{
    overflow: hidden;
    text-align: center;
    position: relative;
    color: #fff;
    display: inline-block;
}

header .text-holder h4:before, header .text-holder h4:after,
{
    content: "";
    height: 1px;
    position: absolute;
    width: 50%;
    border: 1px solid #fff;
    top: 8px;
}

header .text-holder h4:before
{
    left: -45px;
}

header .text-holder h4:after
{
    right: -45%;
}

.promo-text {
    font-family: sans-serif;
}
.promo-text h2 {
    font-weight: 700;
}
.cd-user-modal {
    z-index: 101;
}

footer
{
    padding-top: 10px;
    margin-bottom: 0;
}

.marginTop100 {
    margin-top: 100px;
}
.marginTop-100 {
    margin-top: -100px;
}
.marginTopBottom20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.order-footer-btn
{
    padding: 20px 40px;
    max-width: 250px;
    overflow: hidden;
    border: 0;
    text-overflow: ellipsis;
    width: 100%;
    transition: .25s;
    border-radius: 30px;
}

.text-center
{
    text-align: center;
}
.text-right
{
    text-align: right;
}
.text-left
{
    text-align: left;
}
.text-prata
{
    font-family: 'Prata' !important;
}

.text-raleway
{
    font-family: 'raleway' !important;
}
.text-sans {
    font-family: sans-serif !important;
}
.text-uppercase {
    text-transform: uppercase;
}

.sidebar
{
    padding: 20px;
    display: block;
}

.sidebar ul
{
    list-style: none;
}

.paddingLeftRight20
{
    padding-left: 20px;
    padding-right: 20px;
}

.paddingTopBottom20
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding20
{
    padding: 20px;
}
.padding5 {
    padding: 5px;
}

#img-holder
{
    min-height: 300px;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: -120px;
}

.marginTop70 {
    margin-top: 70px;
}
.marginTop50 {
    margin-top: 50px;
}
.marginTop20 {
    margin-top: 20px;
}

#img-holder .overlay
{
    position: absolute;
    height: inherit;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.5);
}

#img-holder  h1
{
    padding-top: 170px;
    padding-bottom: 50px;
    font-family: 'Prata';
    color: #fff;
    z-index: 10;
}

#intro-section img
{
    max-height: 70px;
}

.has-overlay
{
    width: 100%;
    height: 100%;
    position: relative;
}

.has-overlay .overlay
{
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.font-80
{
    font-size: 80px;
}
.font-50
{
    font-size: 50px;
}

.font-30
{
    font-size: 30px;
}
.font18 {
    font-size: 18px;
}
.font14 {
    font-size: 14px;
}

.font-20
{
    font-size: 20px;
}
.font-1em
{
    font-size: 1em;
}
.order-preview p {
    line-height: 0;
}
.sidebar-order
{
    width: 100%;
    padding: 20px;
    border-radius: 7px;
}
.main-nav .register {
    border: 0;
}
.ace-bg-blue {
    width: 100%;
    padding: 20px;
}
.home-order-form {
    border-radius: 25px;
    padding: 30px;
}
.home-order-form .submit {
    border-radius: 30px;
    width: 100%;
    padding: 15px;
    font-size: 20px;
}
.nav .order-button {
    border: 0;
}
.display-inline * {
    display: inline-block;
}
.nav .order-button a {
    border-radius: 30px;
    padding: 10px;
    margin-top: 11px;
}
.order-form-container {
    width: 100%;
    padding: 20px;
    border-radius: 7px;
}
ul.list-styled {
    list-style: square;
}
#hello-ace-bar {
    font-family: Sintony, sans-serif; 
    height: 50px;
    position: fixed;
    bottom: 0;
    z-index: 200;
}
#hello-ace-bar {
    width: 100%;
    text-align: center;
}
#hello-ace-bar * {
    display: inline-block;
}
.wiggle {
    box-shadow: 0 0 1px transparent;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    animation-name: wiggle;
    -o-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -moz-animation-name: wiggle;
    -webkit-animation-name: wiggle;
    animation-duration: 5s;
    -o-animation-duration: 5s;
    -ms-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-play-state: running;
    -o-animation-play-state: running;
    -ms-animation-play-state: running;
    -moz-animation-play-state: running;
    -webkit-animation-play-state: running;
}
@keyframes wiggle {
    2% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    4% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    6% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    8% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    10% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    12% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    14% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    16% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    18% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }
    20% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}
.borderRadius30 {
    border-radius: 30px;
} 
.card {
    position: relative;
    float: left;
    padding-bottom: 20%;
    width: 30%;
    text-align: center;
}

.card__front,
.card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card__front,
.card__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.card__back {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

/**

Efect on Hover  

**/
.card.effect__hover:hover .card__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

/**

Efect on click  

**/
.card.effect__click.flipped .card__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

/**

Efect on random  

**/
.card.effect__random.flipped .card__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card.effect__random.flipped .card__back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

.g-icon-holder {
    font-size: 46px;
    line-height: 90px;
    height: 110px;
    width: 110px;
    box-shadow: 0 0 0 2px #2196f3 inset;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
    background-color: transparent !important;
    border: 1px solid transparent;
}

.g-icon-holder i {
    color: #2196f3 !important;
}
/*
====================================================
    COLOR CORRECTION

    the blue : #00BFFF
    client blue : #98ACBC rgb(152,172,188)
===================================================
*/
ul.text-white li
{
    color: #fff;
}
.main-nav .login
{
    border: 1px solid #f3d662;
    background-color: rgba(241, 196, 15, 0.5);
}
.main-nav .login:hover {
    background-color: #f1c40f;
    color: #fff !important;
}
.main-nav .register
{
    background-color: rgba(21, 5, 255, 0.5);
}
.main-nav .register:hover {
    background-color: #1505ff;
    color: #fff !important;
}
footer
{
    background-color: #333;
    color: #ccc;
}

.ace-bg-blue
{
    color: #fff;
    background-color: #98ACBC;
}

.footer-papers
{
    /*background-color: #98ACBC;*/
    background-color: #303030;
    color: #FFF;
}

.main-footer
{
    color: #ffffff;
    background-color: #252525;
}

.text-ccc
{
    color: #ccc;
}

.home-order-form
{
    background: #F5F5F5;
}
.home-order-form .submit {
    background-color: #F05C42;
    box-shadow: 0 2px #F3826D;
}

#header-1 .main-nav
{
    /*background-color: rgba(152,172,188, 0.8);*/
}

.nav .order-button a
{
    color: #fff !important;
}

.nav li.active:not(.order-button), .nav li.active:not(.order-button) a
{
    /*color: #fff !important;*/
    /*border-bottom: 1px solid #fff;*/
    color: #2196f3 !important;
}

.nav li:hover:not(.order-button), .nav li:hover:not(.order-button) a
{
    /*border-bottom: 1px solid #eee;*/
    /*color: #fff !important;*/
    color: #2196f3 !important;
}

.nav .order-button a
{
    border: 1px solid #2196f3;
    color: #fff;
}
.nav .order-button a:hover {
    background-color: #2196f3 !important;
}

.text-ace-blue
{
    color: #98ACBC;
}

.fg-blue
{
    color: #98ACBC;
}
.bordered-bottom {
    border-bottom: 1px solid #eee;
}
a.text-blue-hover:hover
{
    color: #98ACBC;
}

a.text-blue-lighter-hover:hover
{
    color: #02fbfd;
    transition: 0.8s all;
}

.order-footer-btn
{
    background-color: #F05C42;
    color: #fff;
}
.text-orange {
    color: #FFA900 !important;
}
.ace-bg-blue-lighter
{
    background-color: #d6e8f7;
}

.order-form-container
{
    border: 1px solid #7E97AB;
}
.order-form-container  #total_price
{
    color: #2196f3;
    border-bottom: 1px dashed #2196f3;
}
.selectize-input.full {
    background-color: transparent !important;
}
#orderForm input.inputfile {

}
#valid-msg {
    color: #13a813 !important;
}
#error-msg {
    color: #f84d4d  !important;
}
.text-white
{
    color: #fff;
}
.text-black
{
    color: #000;
}
body
{
    color: #5a5a5a;
}
#hello-ace-bar {
    background-color: rgb(250, 155, 22); 
    color: rgb(255, 255, 255); 
    border-color: rgb(255, 255, 255); 
}
.btn-maroon {
    background-color: #F05C42;
    color: #ffffff;
}
.btn-maroon:hover {
    background-color: #ED3E1F;
    color: #ffffff;
}
.card__front {
    background-color: #fff;
}
.card__back {
    background-color: #eaeaea;
    /*background-color: #2196F3;*/
    /*background-color: #FFA900;*/
}
.nice-blue {
    background-color: #2196f3;
}
.whys-accordion .panel-default,
.whys-accordion .panel-title > a,
.whys-accordion .panel-heading {
    background-color: transparent !important;
    background: transparent !important;
    color: #fff;
}
.whys-accordion .panel-body {
    border-top: 0 !important;
}
.has-background-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
p {
    font-size: 16px;
}
.text-bold {
    font-weight: 700;
}
/* 
    Intro Section
*/
#intro-section .item {
    border-radius: 5px;
}
#intro-section .item:hover {
    border-bottom: 5px solid rgb(250, 155, 22);
}