.navbar-dark .navbar-toggler-icon {
    background-image: none;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
    border-bottom: 2px solid #fff;
}
@media (min-width: 768px)
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    margin-left: .5rem;
}
form.home-order-form {
    border: 1px solid #fff;
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: left;
    box-shadow: rgba(255, 255, 255, 0.4)
}

form.home-order-form #total_price,
form.home-order-form .price {
    color: #fff;
}

form.home-order-form button {
    background-color: #ff4040;
    border-radius: 30px;
    padding: 15px 25px;
    width: 96%;
    color: #fff;
    font-size: 20px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
form.home-order-form button:hover {
    background-color: transparent;
    border: 1px solid #ffcc00;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    margin: 0;
    color: #ffcc00;
}
.breath {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.breath:hover {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.has-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.has-backgroung-img {
    background-position: center center;
    background-size: cover;
}

.text-green {
    color: #04ff97
}

.text-yellow {
    color: #fff700 !important;
}

.bg-black {
    background-color: #000;
}

.bg-white {
    background-color: #fff !important;
}

.font18 {
    font-size: 18px;
}

.font-80 {
    font-size: 80px;
}

.font-20 {
    font-size: 20px;
}

.font20 {
    font-size: 20px;
}

.font22 {
    font-size: 22px;
}

/* 
    Hello Bar
*/
#hello-ace-bar {
    font-family: Sintony, sans-serif;
    height: 50px;
    position: fixed;
    bottom: 0;
    z-index: 200;
}

#hello-ace-bar {
    width: 100%;
    text-align: center;
}

#hello-ace-bar * {
    display: inline-block;
}

.wiggle {
    box-shadow: 0 0 1px transparent;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    animation-name: wiggle;
    -o-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -moz-animation-name: wiggle;
    -webkit-animation-name: wiggle;
    animation-duration: 5s;
    -o-animation-duration: 5s;
    -ms-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-play-state: running;
    -o-animation-play-state: running;
    -ms-animation-play-state: running;
    -moz-animation-play-state: running;
    -webkit-animation-play-state: running;
}

@keyframes wiggle {
    2% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    4% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    6% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    8% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    10% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    12% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    14% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    16% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    18% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }
    20% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}
#hello-ace-bar {
    background-color: rgb(250, 155, 22);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.oval-btn {
    border-radius: 40px;
    background-color: #ff4040;
    color: #fff;
    padding: 15px 25px;
    width: 50%;
    min-width: 100px;
    outline: none;
    border: 1px solid #ff4040;
    transition: all 0.8s;
    font-weight: 700;
}

.oval-btn:hover,
.oval-btn:focus {
    border-radius: 40px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #ff4040;
    transition: all 0.8s;
}

#largeLoginModal .modal-header {
    background-color: #0275D8;
    color: #fff;
}

.bg-semi-black {
    background-color: #606977;
}

.bg-dark-black {
    background-color: #292F34;
}

.padding5 {
    padding: 5px;
}

.padding20 {
    padding: 20px;
}

.marginTop40 {
    margin-top: 40px;
}

.marginLeft20 {
    margin-left: 20px;
}

.marginLeft5 {
    margin-left: 5px;
}

.bootstrap-touchspin span button {
    margin-top: -0.1em;
}

.footer-social-icons p {
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
    display: inline;
    margin: 3px;
}

.footer-social-icons p:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.divider {
    height: 1px;
    background-color: #C2C2C2;
    width: 60%;
    margin: 10px auto;
}

.divider2 {
    height: 3px;
    background-color: #C2C2C2;
    width: 60%;
    margin: 20px auto;
}

.radius10 {
    border-radius: 10px;
}

.bordered-blue {
    border: 1px solid #68B5EB;
}


/* testimonial widget */

#testimonials-owl-widget .customer-review {
    color: #fff;
}

#testimonials-owl-widget .customer-feedback,
#testimonials-owl-widget .customer-review-time {
    color: #bdbdbd;
}

#testimonials-owl-widget .order-topic {
    color: #ffcc00
}

#testimonials-owl-widget .order-typeofwork {
    color: #fff;
}

#testimonials-owl-widget .order-tutor span {
    color: #5CB1FE;
}

#testimonials-owl-widget .order-tutor span a {
    color: #ffcc00;
}


/* style order page and form */

#acepint-order-container .marginTop40 {
    margin-top: 40px;
}

#acepint-order-container .marginTop20 {
    margin-top: 20px;
}

#acepint-order-container .well {
    padding: 20px;
    background-color: #C9E4F8;
    border-radius: 10px;
}

#valid-msg {
    color: #13a813 !important;
}

#error-msg {
    color: #f84d4d !important;
}

.hide {
    display: none;
}

.display-inline {
    display: inline-block;
}


/* rcards */

.card {
    position: relative;
    float: left;
    padding-bottom: 20%;
    width: 30%;
    text-align: center;
}

.card__front,
.card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card__front,
.card__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.card__back {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}


/**

Efect on Hover  

**/

.card.effect__hover:hover .card__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}


/**

Efect on click  

**/

.card.effect__click.flipped .card__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}


/**

Efect on random  

**/

.card.effect__random.flipped .card__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card.effect__random.flipped .card__back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}